.gcw_weather_panel {
    background: rgba(1,1,1,0.02);
    border: 1px solid rgba(1,1,1,0.15);
    padding: 10px;
    width: 180px;
    box-shadow: 0 0 5px 2px rgba(1,1,1,0.2);
}

.gcw_weather_panel span {
    color:rgba(1,1,1,0.5);
} 
.gcw_weather_panel * {
    display: block;
    margin: 0 auto;
    text-align: center;
}
